#main
  .span12
    %h5 Select an Organization to Continue
    %p
      = select("member", "organization", @organizations.collect {|p| [ p.login, p.id ] })
      %br  
      = link_to "Go!", organization_path("LemontechSA"), :class=>"btn btn-success", :id=>"select_organization"
 
   