#main
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Projects
        - @project_list.each do |p|
          %li= link_to "#{p.name}", "/projects/#{p.id}"
  .span9
    .row-fluid
      .span6
        %h4 Project
        %p
          %table.table.table-condensed.table-bordered.table-striped.table-hover
            %th
              Feature Name
            %tr
              %td Holaa

      .span6
        %h4 Hotfixes
        %p
    .row-fluid
      .span6
        %h4 Releases
        %p
      .span6
        %h4 Pull Requests
        %p
    %br
   