%h2.form-signin-heading Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin", :style=>"max-width:300px"} ) do |f|
  %div
    = f.email_field :email, :class=>"input-block-level", :placeholder=> "Email address"
  %div
    = f.password_field :password, :class=>"input-block-level", :placeholder=> "Password"
  - if devise_mapping.rememberable?
    %label{:class=>"checkbox"}
      = f.check_box :remember_me
      = f.label :remember_me
  %div
    = f.submit "Sign in", :class=>"btn btn-primary"
    = link_to "Sign in with Github", user_omniauth_authorize_path(:github), :class=>"btn btn-secondary"