#main
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Projects
        - @project_list.each do |p|
          %li
            = link_to organization_project_path(@organization_id,"#{p.id}") do
              %i.icon-lock
              = "#{p.name}"
  .span9
    .row-fluid
      .span12
        %h4 Last Events
        %p
          %table.table.table-condensed.table-bordered.table-striped.table-hover
            %th
              User
            %th
              Event
            - types = event_types
            - @users.each do |u|
              %tr
                %td 
                  %img.img-circle{:src=>"#{u.actor.avatar_url}"}
                %td 
                  %span{:class => "label label-#{types[u.type][:color]}"}
                    = types[u.type][:name]
                  = link_to organization_project_path(@organization_id,"#{u.repo.id}") do
                    %i.icon-lock
                    = "#{u.repo.name}"
                  -if u.payload.commits
                    %br
                    = u.payload.commits.collect{|c| c.message}.join('<br/>').html_safe
                  - elsif u.payload.comment
                    = u.payload.comment.body
                  - elsif u.payload.pull_request
                    = u.payload.pull_request.body
                  - elsif u.payload.issue
                    = u.payload.issue.body
                  - else
                    - if u.payload[types[u.type][:field]]
                      = u.payload[types[u.type][:field]]

                
